/* font family  */
@font-face {
  font-family: "kalpurush";
  src: url(../fonts/kalpurush.ttf);
}

/* common css area start  */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "kalpurush";
}

a {
  text-decoration: none;
  display: inline-block;
}

ol,
ul {
  list-style-type: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
  line-height: 0.8;
}

:root {
  --primary_clr: #36a37d;
  --secondary_clr: #626d7d;
  --white_clr: #ffffff;
  --heading_size: 40px;
  --subheading_size: 25px;
  --text_size: 20px;
  --para_size: 18px;
  --common_size: 16px;
  --para_line_height: 27px;
  --normal_line_height: normal;
  --font_regular: 400;
  --font_medium: 500;
  --font_semiblod: 600;
  --font_blod: 700;
}

.main_heading {
  font-size: var(--heading_size);
  font-weight: var(--font_regular);
  color: var(--primary_clr);
  line-height: var(--normal_line_height);
}

.paragraph {
  font-size: var(--para_size);
  font-weight: var(--font_regular);
  line-height: var(--para_line_height);
  color: var(--secondary_clr);
}

.sub_heading {
  font-size: var(--subheading_size);
  font-weight: var(--font_regular);
  line-height: var(--normal_line_height);
  color: var(--primary_clr);
}

/* common css area end  */

/* Navbar area start  */
.navbar {
  padding-top: 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav-item {
  padding: 0 20px;
}

.nav-item .nav-link {
  font-size: var(--text_size);
  font-weight: var(--font_regular);
  line-height: var(--normal_line_height);
  color: var(--white_clr);
  padding: 0 !important;
  position: relative;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.nav-item .nav-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: var(--primary_clr);
  transition: all linear 0.3s;
}

.nav-item .nav-link:hover {
  color: var(--primary_clr);
}

.nav-item .nav-link:hover::after {
  width: 100%;
}

.navbar-collapse button {
  padding: 12px 20px;
  background-color: var(--white_clr);
  color: var(--primary_clr);
  border: 3px solid var(--primary_clr);
  border-radius: 8px;
  font-size: var(--text_size);
  font-weight: var(--font_regular);
  display: flex;
  align-items: center;
}

.navbar-collapse button:hover {
  background-color: var(--white_clr);
  color: var(--primary_clr);
  border: 3px solid var(--primary_clr);
}

.navbar-collapse button i {
  font-size: 24px;
  padding-left: 12px;
}

.navbar-collapse :not(.btn-check) + .btn:active {
  background-color: var(--white_clr);
  color: var(--primary_clr);
  border: 3px solid var(--primary_clr);
}
/* Navbar area end */

/* Banner area start  */
#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 297px;
  padding-bottom: 78px;
}

.banner_content .paragraph {
  color: var(--white_clr);
  padding: 137px 65px;
}

.banner_search .main_heading {
  color: var(--white_clr);
  margin-bottom: 16px;
}

.search_bar {
  border-radius: 12px;
  background-color: var(--white_clr);
  padding: 6px;
}

.search_bar input {
  width: 70%;
  border: none;
  padding-left: 31px;
}

.search_bar input::placeholder {
  color: #a9a3b7;
  font-size: 15px;
  font-weight: var(--font_medium);
}

.search_button {
  width: 30%;
}

.search_button > i {
  transform: rotate(-90deg);
  font-size: var(--common_size);
  color: #626d7d;
}

.search_button button {
  background-color: var(--primary_clr);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: none;
  padding: 21px 27px;
  font-size: var(--text_size);
  font-weight: var(--font_regular);
  color: var(--white_clr);
  column-gap: 18px;
}

/* Banner area end */

/* About area start  */
#about {
  padding-top: 66px;
  padding-bottom: 66px;
  background: url("../images/about_bg.svg"), linear-gradient(#f0f0f0, #f0f0f0);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about_header {
  margin-bottom: 65px;
}

.about_header .main_heading {
  margin-bottom: 5px;
}

.about_card {
  background-color: var(--white_clr);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  align-items: center;
  position: relative;
  min-height: 405px;
  overflow: hidden;
  z-index: 1;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.about_card::after,
.about_card::before {
  content: "";
  position: absolute;
  width: 170px;
  height: 155px;
  z-index: -1;
}

.about_card::after {
  top: 0;
  right: 0;
  background: url("../images/ab_card_bg1.svg");
}

.about_card::before {
  left: 0;
  bottom: 0;
  background: url("../images/ab_card_bg2.svg");
}

.about_card .about_card_content {
  min-height: 390px;
  width: 100%;
  align-items: center;
  margin: 7px 6px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.about_card_content .sub_heading {
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.about_card_content .paragraph {
  font-size: var(--common_size);
  line-height: var(--normal_line_height);
  padding-top: 6px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.about_card:hover {
  background-color: var(--primary_clr);
  transform: translateY(-19px);
  -webkit-transform: translateY(-19px);
  -moz-transform: translateY(-19px);
  -ms-transform: translateY(-19px);
  -o-transform: translateY(-19px);
}

.about_card:hover::after,
.about_card:hover::before {
  opacity: 20%;
}

.about_card:hover .about_card_content {
  border: 1px solid var(--white_clr);
}

.about_card:hover .about_card_content .sub_heading,
.about_card:hover .about_card_content .paragraph {
  color: var(--white_clr);
}

.about_button button {
  background-color: var(--primary_clr);
  border: none;
  padding: 15px 23px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-top: 90px;
  align-items: center;
  font-size: 20px;
  color: var(--white_clr);
  font-weight: var(--font_regular);
}

.about_button button span {
  margin-left: 10px;
  margin-right: 20px;
}

/* About area end */

/* Navbar area start  */
/* Navbar area end */

/* Navbar area start  */
/* Navbar area end */

/* Navbar area start  */
/* Navbar area end */

/* Navbar area start  */
/* Navbar area end */

/* Navbar area start  */
/* Navbar area end */
